body{
	width: 100%;
	float: left;
	background-color: #99dbd3;
	margin-top: 10px;
}

header{
	background-color: #00a592;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	align="left";
	padding-left:0px;
}

form{
	text-align: center;
	border: 1px solid #000000;
}